<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="CertPassword" value="passw"/>

        <add key="TestUserID" value="RickPaul@Marketing.Pro" />
        <add key="TestVendorName" value="MarketingPro"/>
        <add key="TestApplicationID" value="14"/>
        <add key="CleverDomeCert" value="85f0e8c65847d660704a1197929c58a7e09fc60c"/>
        <add key="VendorCertificatePath" value="VendorCertificate.pfx"/>
		<add key="CleverDomeCertPath" value="../../cleverdomcom.cer"/>
	</appSettings>
	
	<system.web>
		<customErrors mode="Off" />
	</system.web>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IWidgets">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_ISSOService">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>

            <customBinding>
				<binding name="NewBinding0">
					<transactionFlow />
					<security authenticationMode="SecureConversation"
							  messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
							  requireDerivedKeys="false" >
						<localClientSettings maxClockSkew="00:10:00" />

						<secureConversationBootstrap authenticationMode="CertificateOverTransport"
													 messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
													 requireDerivedKeys="false" >
							<localClientSettings maxClockSkew="00:10:00" />

						</secureConversationBootstrap>
					</security>
					<textMessageEncoding />
					<httpsTransport />
				</binding>
			</customBinding>
		</bindings>

		<client>
			<endpoint address="https://sandbox.cleverdome.com/CDWidgets/Services/Widgets.svc/basic"
					  binding="basicHttpBinding" 
					  bindingConfiguration="BasicHttpBinding_IWidgets"
					  contract="IWidgets" 
					  name="BasicHttpBinding_IWidgets" />

			<endpoint address="https://sandbox.cleverdome.com/CDSSOService/SSOService.svc/SSO"
					  binding="basicHttpBinding" 
					  bindingConfiguration="BasicHttpBinding_ISSOService"
					  contract="ISSOService" 
					  name="BasicHttpBinding_ISSOService" />
            
            <endpoint address="https://sandbox.cleverdome.com/CDWidgets/Services/VendorManagement.svc/safetimeout"
					  binding="customBinding"
					  bindingConfiguration="NewBinding0"
					  contract="IVendorManagement"
					  name="MaxClockSkewBinding" />
		</client>

	</system.serviceModel>
</configuration>