<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="AppSettings.config">
        <add key="CertPath" value="C:\Cert\CleverDomeTestCert.pfx"/>
        <add key="CertPassword" value="passw"/>
        <add key="TestFilePath" value="C:\TestFile.jpg"/>

        <add key="TestUserID" value="4" />
        <add key="TestVendorName" value="EverNote"/>
        <add key="TestApplicationID" value="9"/>
    </appSettings>
    
    <!--<system.net>
        <defaultProxy>
            <proxy bypassonlocal="False" proxyaddress="http://127.0.0.1:8888"/>
        </defaultProxy>
    </system.net>-->

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWidgets">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ISSOService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="WebHttpBinding_IWidgets">
                    <textMessageEncoding messageVersion="Soap12" />
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IVendorManagement">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sandbox.cleverdome.com/CDWidgets/Services/Widgets.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWidgets"
                contract="IWidgets" name="BasicHttpBinding_IWidgets" />
            <endpoint address="https://sandbox.cleverdome.com/CDSSOService/SSOService.svc/SSO"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISSOService"
                      contract="ISSOService" name="BasicHttpBinding_ISSOService" />
            <endpoint address="https://sandbox.cleverdome.com/CDWidgets/Services/VendorManagement.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVendorManagement"
                contract="IVendorManagement" name="WSHttpBinding_IVendorManagement" />
        </client>
    </system.serviceModel>
</configuration>